/*
!/.asoundrc
!/.zprofile
!/.git
!/.gitignore
!/.newsboat


!/.local/
/.local/*
!/.local/bin
!/.local/share
/.local/share/*
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/emacsclient.desktop

/.local/bin/*
!/.local/bin/cmus/
!/.local/bin/bar/
!/.local/bin/tmux/
!/.local/bin/acmes
!/.local/bin/album
!/.local/bin/audiosplit
!/.local/bin/battery
!/.local/bin/brightness
!/.local/bin/dmenuexit
!/.local/bin/dmenumount
!/.local/bin/emo*
!/.local/bin/glibc_*
!/.local/bin/genzathura
!/.local/bin/mplayer_yt
!/.local/bin/pomodoro
!/.local/bin/random
!/.local/bin/record
!/.local/bin/rr
!/.local/bin/screeny
!/.local/bin/search
!/.local/bin/startdwm
!/.local/bin/tf2
!/.local/bin/tag
!/.local/bin/yt*


!/.config
/.config/*
!/.config/mimeapps.list

!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/config.py
!/.config/qutebrowser/quickmarks
!/.config/qutebrowser/qutewal.py

!/.config/zsh

!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf

!/.config/X11

!/.config/nvim
/.config/nvim/plugged

!/.config/sxiv

!/.config/fontconfig
/.config/fontconfig/*
!/.config/fontconfig/fonts.conf

!/.config/dunst

!/.config/emacs/
/.config/emacs/*
!/.config/emacs/start.png
!/.config/emacs/local/
!/.config/emacs/modules/
/.config/emacs/modules/*/*.elc
!/.config/emacs/elfeed.org
!/.config/emacs/init.el

!/.config/cmus

!.config/ncmpcpp

!/.config/zathura